{% extends 'base.html' %}


{% block title %}Sign up for AlmostAll | AlmostAll{% endblock  %}

{% block content %}
<style type="text/css">

	
</style>


	<div class="container d-flex h-100">
		<div class="row justify-content-center align-self-center">
			<div class="col-6">
				  <form method="post" accept-charset="utf-8" class="p-4 p-md-5 border rounded-3 bg-light" >{% csrf_token %}
					  
					  <legend>Sign Up</legend>
					  <h4>It's free and always will be.</h4>
	                  <div class="row">
		                  
		                  <div class="col-xs-6 col-md-6">
			                  <input type="text" name="first_name" value="" class="form-control input-lg" placeholder="First Name" required>
                          </div>
		                  
                          <div class="col-xs-6 col-md-6">
	                          <input type="text" name="last_name" value="" class="form-control input-lg" placeholder="Last Name" required>
                          </div>
		                  
		                  <div class="input-group mb-2">
			                  <input type="email" name="email" value="" class="form-control input-lg" placeholder="Email" required>
		                  </div>
		                  
		                  <div class="input-group mb-2">
			                  <input type="text" name="username" value="" class="form-control input-lg" placeholder="Username" required>
		                  </div>
		                  
		                  <div class="input-group mb-2">
			                  <input type="password" name="password1" value="" class="form-control input-lg" placeholder="Password" required>
		                  </div>
		                  
		                  <div class="input-group mb-2">
			                  <input type="password" name="password2" value="" class="form-control input-lg" placeholder="Confirm Password" required>
		                  </div>
		                  <label>Birth Date</label>
		                  
		                  <div class="input-group mb-2">
			                  
			                  <input type="text" name='date_of_birth' id="datepicker"/>
			                  
		                  
 						
			                  
		                  </div>
	                  </div>
					      
					      
			
		              {% for field in registration_form %}
						  
						  			        
			                {% if field.help_text %}
				               <small style="color: grey;">{{field.help_tag}}</small>
				            {% endif %}
				
				            {% for error in field.errors %}
				                 <small style="color: red;">{{error}}</small>
				            {% endfor %}
				      {% endfor %}
						  
						  
		              <span class="help-block">By clicking Create my account, you agree to our Terms and that you have read our Data Use Policy, including our Cookie Use.</span>
                      <button class="btn btn-lg btn-primary btn-block signup-btn" type="submit">
	                      Create my account</button>
              
					  </div>
				  </form>
				
			</div>
		</div>
	</div>
		
        
		
      


{% endblock %}
				



